input[type=text],[type=email], select ,[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type='button'] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 90px;
  }
  
  .Registration{
    margin-left: 750px;
    margin-right: 150px;
    position:fixed;
  }

  .container{
    margin-left: 150px;
    margin-right: 650px;
    position:fixed;

  }
  
  h1{
    font-size: 40px;
    margin-left: 750px;
    margin-right: 150px;
    color:#05670a;
    margin-top: 40px;
  }
 
 table {
    border-collapse: collapse;
    width: 90%;
    font-size: larger;
  }
  
  th{ 
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size:xx-large;
    color:#05670a;

  }

  td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size:large;
  }
  
  tr:hover {background-color:antiquewhite;}



input[type='button:hover'] {
    background-color: #45a049;
  }

  input[type="button"][disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

  input.ng-invalid.ng-touched{
    border: red 1px solid;
  }
  small{
    color: red;
  }
  label{
    font-size: larger;
  }

